@media screen and (max-width:1440px) {
    .submenu a {
        font-size: 11px
    }
    .submenu3 {
        width: 60%;
        left: 120%;
        top: -130%
    }
    .submenu4 {
        width: 60%;
        left: 120%;
        top: 0
    }
    .main-event a {
        top: 94%
    }
    .nov2 {
        width: 15%
    }
    .nov3 {
        width: 66%
    }
	header .container .header-text-main span:first-of-type {
		font-size: 60px;
	}
	header .container .header-text-main span:last-of-type {
		font-size: 28px;
	}
	header .container .header-text-main {
		width: 1000px;
	}
}

@media screen and (max-width:1366px) {
    .card {
        width: 200px;
        height: 280px
    }
    .nov_text2 {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .submenu a {
        font-size: 11px
    }
    .submenu3 a {
        font-size: 11px
    }
    .submenu4 a {
        font-size: 11px
    }
    .submenu3 {
        width: 60%;
        left: 100%;
        top: -100%
    }
    .submenu4 {
        width: 60%;
        left: 100%;
        top: 0
    }
    .demo-1 .main-title {
        font-size: 2.5em
    }
    .modalbg:target .dialog1 {
        top: 10px
    }
    .modalbg .dialog1 {
        top: 10px
    }
    .block9 {
        height: auto
    }
    .fast-3 li a {
        font-size: 13px
    }
    .dialog4 {
        width: 50%;
        text-align: center
    }
    .slider_img1 {
        width: 140px
    }
    .novich {
        font-size: 15px
    }
    .nav__item .a1 {
        height: 80px;
        font-size: 18px
    }
    .nav__item .a1:hover {
        font-size: 18px;
        height: 80px
    }
    .card {
        width: 200px;
        height: 280px
    }
    .main-event a {
        top: 93.5%
    }
    .nov2 {
        width: 17%
    }
    .nov3 {
        width: 64%
    }
}

@media screen and (max-width:1280px) {
    .box {
        width: 100%
    }
    .box1 {
        width: 100%
    }
    .block5 {
        width: 100%
    }
    .block7 {
        width: 100%
    }
    .vk {
        transition: .5s
    }
    .inst {
        transition: .5s
    }
    .youtube {
        transition: .5s
    }
    .block6 {
        display: none
    }
    .submenu a {
        font-size: 11px
    }
    .dialog img {
        width: 90%
    }
    .main-event a {
        top: 94.5%
    }
    .nov4 {
        font-size: 16px
    }
	header .container {
		padding: 32px 140px 32px 70px;
	}
	header .container .header-text-main span:first-of-type {
		font-size: 60px;
	}
	header .container .header-text-main span:last-of-type {
		font-size: 25px;
		margin-top: 32px;
	}
	.slick-prev, .slick-next {
		top: 107%!important;
		height: auto!important;
	}
	.slick-next {
		right: 41%!important;
	}
	.slick-prev {
		left: 41%!important;
	}
	.slick-dots {
		bottom: -28%!important;
	}
	.btnWidthAll {
		margin-top: 10%;
	}
}

@media screen and (max-width:1200px) {
    .slider__item {
        flex: 0 0 25%;
        max-width: 25%;
    }
	header .container .header-text-main span:first-of-type {
		font-size: 50px;
	}
	header .container .header-text-main span:last-of-type {
		font-size: 22px;
	}
	header .container .header-nav .header-info a span:first-of-type {
		font-size: 22px;
	}
	.container {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.navigation .ed_resource-main.container {
		width: 100%;
		display: flex;
		flex-direction: row;
	}
	.news-block {
		height: auto!important;
	}
	.fast-main {
		grid-template-columns: repeat(4, 220px);
		grid-template-rows: repeat(2, 220px);
	}
	.fast-block .span-block {
		padding: 8px;
	}
	.fast-block h2 {
		font-size: 18px;
	}
	.dop-info1.container, .visitor.container {
		flex-direction: row;
	}
	.version span {
		font-size: 22px;
	}
	.visitor .img {
		height: 348px;
		width: auto;
	}
	.visitor .img img {
		height: 100%;
		width: auto;
	}
	.modal .modal-body section {
		width: 100%;
	}
	.news-all.container {
		flex-direction: row;
		justify-content: space-around;
	}
}

@media screen and (max-width:1160px) {
	header {
		height: 70vh;
	}
	header .container .header-text-main {
		position: inherit;
		bottom: auto;
		margin-top: 180px;
		width: 100%;
	}
	header .container {
		width: 85%;
		padding: 32px 0;
		transform: translateX(-40px);
	}
	.news-block .img .text-hover {
		display: none;
	}
	.news-block:hover .text {
		transform: translateY(0px);
		border-right: 1px solid var(--border-block-a);
		border-left: 1px solid var(--border-block-a);
    	border-bottom: 1px solid var(--border-block-a);
		border-top: 0;
	}
	.news-block:hover .img {
		border-left: 1px solid var(--border-block-a);
    	border-top: 1px solid var(--border-block-a);
    	border-right: 1px solid var(--border-block-a);
		border-radius: 6px 6px 0 0;
		border-bottom: 0;
	}
	.news-block:hover .img img {
		border-radius: 6px 6px 0 0;
	}
	.news-block:hover .img::before {
		background: var(--bg-gradient-a);
	}
	.news-block:hover .img::before {
		border-radius: 6px 6px 0 0;
	}
	.visitor .img {
		margin-right: 32px;
	}
}

@media screen and (max-width:1024px) {
    .card {
        width: 160px;
        height: 240px
    }
    .card-info .new-card {
        font-size: 15px
    }
    .card-bg {
        width: 130%
    }
    .modalbg:target .dialog1 {
        top: 0
    }
    .modalbg .dialog1 {
        top: 0
    }
    .submenu a {
        font-size: 11px
    }
    .demo-1 .main-title {
        font-size: 1.8em
    }
    .dialog img {
        width: 90%
    }
    .main-event a {
        top: 91%
    }
    .main-logo img {
        width: 200px
    }
    .card {
        width: 160px;
        height: 240px
    }
    .card-info .new-card {
        font-size: 15px
    }
    .card-bg {
        width: 130%
    }
    .fast-3 li a {
        font-size: 10px
    }
    .novich {
        font-size: 10px
    }
    .fast-2 {
        font-size: 10px
    }
    .uvaj-text-2 {
        font-size: 13px
    }
    .span_uvaj {
        font-size: 13px
    }
    .item-body {
        font-size: 15px
    }
    .mesto1 {
        font-size: 13px
    }
    .nov_text2 {
        height: 85px
    }
    .nov_text1 {
        font-size: 16px
    }
    .oz5 a {
        font-size: 15px
    }
    .footer_director-text_info {
        font-size: 1.3vw
    }
    .footer_phone-text_info {
        font-size: 1.3vw
    }
    .nav__item .a1 {
        height: 70px;
        font-size: 13px
    }
    .nav__item .a1:hover {
        font-size: 13px;
        height: 70px
    }
    .submenu a {
        font-size: 9px
    }
    .submenu1 a {
        font-size: 8px
    }
    .submenu2 a {
        font-size: 9px
    }
    .submenu3 a {
        font-size: 9px
    }
    .submenu4 a {
        font-size: 9px
    }
    .submenu1 {
        top: -410%
    }
    .submenu2 {
        top: -200%
    }
    .submenu3 {
        width: 60%;
        left: 90%;
        top: -190%
    }
    .submenu4 {
        width: 60%;
        left: 90%;
        top: 0
    }
    .submenu-three-1 {
        top: -55%
    }
    .submenu-three-2 {
        top: -15%
    }
    .submenu-three-3 {
        top: -15%
    }
    .box9 input {
        font-size: 10px
    }
    .social_logo {
        padding: 0
    }
    .box95 input {
        font-size: 10px
    }
    .sign-in_h1 {
        margin-top: 40px
    }
    .modalbg:target .dialog2 {
        top: 0
    }
    .modalbg .dialog2 {
        top: 0
    }
    .footer_director-photo img {
        width: 35%
    }
    .nov4 {
        font-size: 13px
    }
	.fast-main {
		grid-template-columns: repeat(4, 200px);
		grid-template-rows: repeat(2, 200px);
	}
	.fast-block h2 {
		font-size: 17px;
	}
	.fast-block .span-block span {
		margin-top: 8px;
	}
	header .container .header-text-main span:first-of-type {
		font-size: 45px;
	}
	header .container .header-text-main span:last-of-type {
		font-size: 20px;
	}
	header .container .header-text-main {
		margin-top: 220px;
	}
	.title,
	.modal-header .modal-title,
	.nav__content .auth .auth-main .auth_h {
		font-size: 22px;
	}
	.slick-next {
		right: 39%!important;
	}
	.slick-prev {
		left: 39%!important;
	}
	footer .logo_footer img {
		max-width: 150px;
	}
	.modal-dialog {
		max-width: 700px!important;
	}
	.carousel-control-prev, .carousel-control-next {
		height: 44px!important;
		width: 44px!important;
		top: auto!important;
		bottom: -60px!important;
	}
	.carousel-control-prev {
		left: 0!important;
	}
	.carousel-control-next {
		right: 0!important;
	}
	.modal .modal-body .news-text {
		margin-top: 64px!important;
	}
	.header_d h1 {
		font-size: 20px;
	}
	.header_d img {
		width: 64px;
		margin-right: 22px;
	}
}

@media (min-width:992px) {
    .slider__item {
        flex: 0 0 33.333333%;
        max-width: 33.333333%
    }
}

@media screen and (max-width:940px) {
	.fast-main {
		grid-template-columns: repeat(4, 180px);
		grid-template-rows: repeat(2, 180px);
	}
	.fast-block h2 {
		font-size: 14px;
	}
	header .container .header-nav .header-info a::before,
	header .container .header-nav .header-info a::after {
		display: none;
	}
	header .container .header-nav .header-info a {
		margin-right: 50px;
	}
	.footer {
		width: 90%;
	}
	.span-block span {
		font-size: 14px;
	}
}

@media screen and (max-width:900px) {
	header .container .header-nav .header-info a span:first-of-type {
		font-size: 18px;
	}
	header .container .header-nav .header-info a span:last-of-type {
		font-size: 14px;
	}
	header {
		height: 50vh;
	}
	header .container .header-text-main {
		margin-top: 50px;
	}
	header .container .header-text-main span:first-of-type {
		font-size: 40px;
	}
	header .container .header-text-main span:last-of-type {
		margin-top: 16px;
	}
	.version span {
		font-size: 20px;
	}
	.title,
	.modal-header .modal-title {
		font-size: 20px;
	}
	.modal-header .modal-title, .nav__content .auth .auth-main .auth_h {
		font-size: 20px;
	}
	.nav__content .auth .auth-main form,
	.auth .auth_soc {
		margin-top: 28px;
	}
}

@media screen and (max-width:850px) {
	.fast-main {
		grid-template-rows: repeat(3, 180px);
	}
	.fast1, .res1 {
		grid-column: 1/3;
    	grid-row: 1;
	}
	.fast2, .res2 {
		grid-column: 3/5;
		grid-row: 1;
	}
	.fast3, .res3 {
		grid-column: 1/3;
		grid-row: 2;
	}
	.fast4, .res4 {
		grid-column: 3/5;
		grid-row: 2;
	}
	.fast5, .res5 {
		grid-column: 1/5;
		grid-row: 3;
	}
	.fast1::before, .fast2::before, .fast3::before, .fast4::before, .fast5::before, .res1::before, .res2::before, .res3::before, .res4::before, .res5::before {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}
	.fast-block h2 {
		font-size: 16px;
	}
	.slick-dots {
		bottom: -32%!important;
	}
	.slick-next {
		right: 37%!important;
	}
	.slick-prev {
		left: 37%!important;
	}
	h2 {
		font-size: 16px;
	}
	h1 {
		font-size: 20px;
	}
	.corpus .frame span {
		font-size: 16px;
	}
	footer {
		margin-top: 100px;
	}
	.fast-main {
		grid-template-rows: repeat(3, 160px);
		grid-template-columns: repeat(4, 160px);
	}
	.header_d img {
		width: 64px;
		margin-right: 16px;
	}
	.header_d {
		justify-content: flex-start;
		padding: 5px 16px;
	}
}

@media screen and (max-width:800px) {
    .box {
        width: 100%
    }
    .box1 {
        width: 100%
    }
    .block5 {
        width: 100%
    }
    .block7 {
        width: 100%
    }
    .vk {
        background-position: 274px -18px;
        transition: .5s
    }
    .inst {
        background-position: 68px -18px;
        transition: .5s
    }
    .youtube {
        background-position: 137px -18px;
        transition: .5s
    }
	header .container .header-text-main span:first-of-type {
		font-size: 35px;
	}
	header .container .header-text-main span:last-of-type {
		font-size: 18px;
	}
	header .container {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}
	header .container .header-nav .logo {
		width: 110px;
	}
	
}

@media screen and (max-width:768px) {
    .demo-1 .main-title,
    .demo-3 .main-title,
    .demo-4 .main-title {
        font-size: 3em
    }
    .demo-2 .main-title {
        font-size: 4em
    }
    .post-item {
        flex-basis: 50%;
        flex-shrink: 0
    }
    .page-wrapper.toggled .page-content {
        padding-left: 300px
    }
    .card-bg {
        width: 130%
    }
    .demo-1 .main-title,
    .demo-3 .main-title,
    .demo-4 .main-title {
        font-size: 3em;
    }
    .demo-2 .main-title {
        font-size: 4em;
    }
	.nav.is-active .nav__content {
        opacity: 1;
		transition: .3s;
    }
	.nav__content .auth {
		opacity: 1;
		transition: .3s;
	}
	.nav.is-active .nav__content {
		visibility: inherit;
	}
	.nav__content .sidebar-menu {
		opacity: 1;
		transition: .3s;
	}
	.nav__list {
		padding: 0 60px 0 30px;
	}
    .header .sidebar-menu ul li a {
        display: inline-block;
        width: 100%;
        text-decoration: none;
        position: relative;
        padding: 8px 30px 8px 20px;
        color: #d9d8d8;
        font-size: 20px;
        border-bottom: 1px solid gray;
        margin-bottom: 5px
    }
    li:hover {
        background: 0 0
    }
    .sidebar-dropdown.active {
        margin-bottom: 20px
    }
    .sidebar-content {
        height: 90vh
    }
    .nav-theme {
        bottom: auto;
        top: 13px;
        left: 10px;
		z-index: 1001;
    }
    .footer1-text {
        font-size: 12px
    }
    .main-event-text-info {
        font-size: 16px
    }
    .modlgn-remember_osn label {
        font-size: 16px
    }
    .box9 input {
        font-size: 16px
    }
    .box95 input {
        font-size: 16px
    }
    .jlslogin_osn {
        font-size: 16px
    }
    .dialog1 {
        width: 100%;
        height: auto
    }
    .dialog2 {
        width: 100%;
        height: auto
    }
    #upbutton {
        z-index: 0;
        width: 100%;
        left: 0;
        bottom: 0;
        text-align: center;
        backdrop-filter: blur(1px);
        border-radius: 0
    }
    .naverh1 {
        display: block
    }
    #upbutton img {
        display: none
    }
    .flying {
        bottom: 4px;
        right: 5px
    }
    #mode-toggler {
        padding: 6px
    }
    .block22 {
        width: 100%
    }
    main {
        transform: 0;
    }
	.header_d img {
		margin-right: 16px;
	}
	.header_logo {
		display: none;
	}
	.header_logo2 {
		display: block
	}
	.nav {
		width: 100%;
		height: 60px;
	}
    .theme-button {
        z-index: 5;
        left: 50px;
        top: 10px;
        bottom: auto
    }
    .custom {
        display: none
    }
    progress {
        display: none
    }
    .nav {
        display: none
    }
    main {
        margin-top: 10px;
        width: 99%
    }
    .menu-text {
        position: fixed;
        z-index: 999999999;
        top: 8%;
        left: 10%
    }
    .custom4 {
        display: block;
        width: 100%;
        margin-bottom: 10px
    }
    .cont1 {
        display: none
    }
    .cont2 {
        display: none
    }
    .cont3 {
        width: 100%
    }
    .nov4 {
        font-size: 13px
    }
    .nov_text2 {
        font-size: 13px;
        height: 80px;
        padding: 5px 0 0 5px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .block2 img {
        width: 90%
    }
    .quick-menu-m a {
        position: fixed;
        padding: 10px;
        left: 25%;
        top: 1%;
        margin: auto 0;
        padding: 7px 16px 7px 16px;
        font-size: 12px;
        border-radius: 2px;
        z-index: 999999;
        transition: .2s;
        display: block
    }
    .quick-menu-m a:hover {
        outline: 0;
        transition: .2s
    }
    .dialog3 {
        width: 100%
    }
    .dialog4 {
        width: 100%
    }
    .dialog {
        width: 100%;
        height: 100%
    }
    .modalbg:target .dialog {
        top: 0
    }
    .modalbg .dialog {
        top: 0
    }
    .dialog5 {
        width: 100%;
        height: 100%
    }
    .demo-1 {
        display: none
    }
    #obch {
        display: none
    }
    .nov2 {
        width: 20%
    }
    .nov3 {
        width: 61%
    }
    .card-bg {
        width: 130%
    }
    .sign-in_h1 {
        font-size: 25px;
        margin-top: 40px
    }
    .slider_text {
        font-size: 2vw
    }
    .zag {
        font-size: 25px
    }
    .social_text {
        font-size: 16px
    }
    .p1 {
        font-size: 16px
    }
	.nav.is-active {
		width: 100%;
		height: 100%;
	}
	main {
		transform: none;
	}
	.header_d h1 {
		color: var(--font-color);
	}
    .footer_director-info {
        justify-content: space-between;
        flex-wrap: wrap
    }
    .footer_phone-text_info {
        font-size: 12px
    }
    .footer_director-text_info {
        font-size: 12px
    }
    .footer_director-photo img {
        width: 40%
    }
    .footer1 {
        margin-bottom: 35px
    }
    .custom5 {
        display: block
    }
	header {
        display: none;
    }
	.header-m {
		display: flex;
	}
	.slick-dots {
		bottom: -80px!important;
	}
	.slick-next {
		right: 37%!important;
	}
	.slick-prev {
		left: 37%!important;
	}
	footer {
		padding-bottom: 30px;
	}
	footer .info_corpus .info {
		font-size: 14px;
	}
	footer .info_social_btn ul li {
		margin-bottom: 8px;
	}
	.nav__content {
		flex-wrap: wrap;
	}
	.nav__content .nav__list,
	.nav__content .auth{
		width: 100%;
	}
	.nav__list {
		height: 730px;
	}
	.nav__content .auth {
		height: 600px;
	}
	.modal-dialog {
		max-width: 99%!important;
	}
	.header_d {
		display: none;
	}
	.marginPage {
		margin-top: 0;
	}
}

@media screen and (max-width:700px) {
	.visitor .img {
		height: 300px;
	}
	.fast-main {
		grid-template-rows: repeat(3, 140px);
		grid-template-columns: repeat(4, 130px);
	}
	.btnWidthAll {
		margin-top: 12%;
	}
	.modal .modal-body .container {
		width: 100%;
	}
}

@media screen and (max-width:640px) {
    .codrops-header h1 {
        font-size: 2.5em
    }
	.version img {
		width: 40px;
	}
	.version span,
	.visitor span:nth-child(1),
	.title,
	.modal-header .modal-title,
	h1,
	.header-m .header-m-text span:first-of-type,
	.modal-header .modal-title,
	.nav__content .auth .auth-main .auth_h{
		font-size: 18px;
	}
	.slick-prev {
		left: 33%!important;
	}
	.slick-next {
		right: 33%!important;
	}
	footer .logo_footer img {
		max-width: 130px;
	}
	.btn_allnews {
		padding: 16px 24px;
	}
	.corpus .frame-1 {
		margin-right: 0;
	}
	.corpus .frame-2 {
		margin-top: 16px;
	}
	.frame {
		width: 100%;
	}
	.corpus .frame span:first-of-type {
		margin-top: 8px;
	}
	.ed_resource-main .ed_resource-block {
		width: 230px;
	}
	.ed_resource-main .ed_resource-block .img {
		height: 138px;
	}
	.news-all .news-block {
		width: 220px;
	}
	.news-all .news-block .img {
		height: 130px;
	}
	.navigation .ed_resource-main .ed_resource-block .img {
		height: 140px;
	}
}

@media (min-width:576px) {
    .slider__item {
        flex: 0 0 50%;
        max-width: 50%
    }
}

@media screen and (max-width:580px) {
	.navigation .ed_resource-main .ed_resource-block {
		width: 210px;
	}
	.navigation .ed_resource-main .ed_resource-block .img {
		height: 148px;
	}
}

@media screen and (max-width:576px) {
	.header-m img {
		height: 80px;
	}
	.visitor .img {
		height: 250px;
	}
	.fast-main {
		grid-template-rows: repeat(5, 110px);
		grid-template-columns: repeat(4, 120px);
	}
	.fast1, .res1 {
		grid-column: 1/5;
    	grid-row: 1;
	}
	.fast2, .res2 {
		grid-column: 1/5;
		grid-row: 2;
	}
	.fast3, .res3 {
		grid-column: 1/5;
		grid-row: 3;
	}
	.fast4, .res4 {
		grid-column: 1/5;
		grid-row: 4;
	}
	.fast5, .res5 {
		grid-column: 1/5;
		grid-row: 5;
	}
	.fast-block {
		margin: 8px;
	}
	.ed_resource-main .ed_resource-block {
		width: 190px;
	}
	.ed_resource-main .ed_resource-block .img {
		height: 108px;
	}
}

@media screen and (max-width:528px) {
	.visitor .img {
		height: 200px;
		margin-right: 24px;
	}
	.version span, .visitor span:nth-child(1), .title, .modal-header .modal-title, h1, .header-m .header-m-text span:first-of-type,
	.modal-header .modal-title,
	.nav__content .auth .auth-main .auth_h{
		font-size: 16px;
	}
	.visitor .info,
	.learn-more .button-text {
		font-size: 14px;
	}
	.fast-main {
		grid-template-rows: repeat(5, 110px);
		grid-template-columns: repeat(4, 107px);
	}
	.btnWidthAll {
		margin-top: 18%;
	}
	.chiller-theme .sidebar-wrapper .sidebar-menu ul li a,
	.form_block .inputRel .inputV,
	.form_block .save,
	.modal .modal-body .container,
	.info_com,
	.info_com p {
		font-size: 14px;
	}
	.nav__content .auth {
		height: 60%;
	}
	.news-all .news-block {
		width: 180px;
	}
	.news-all .news-block .img {
		height: 108px;
	}
}

@media screen and (max-width:510px) {
	.ed_resource-main .ed_resource-block {
		width: 300px;
		margin-bottom: 16px;
	}
	.ed_resource-main .ed_resource-block .img {
		height: 178px;
	}
	.navigation .ed_resource-main .ed_resource-block {
		width: 190px;
	}
	.navigation .ed_resource-main .ed_resource-block .img {
		height: 127px;
	}
}

@media screen and (max-width:480px) {
    .card-bg {
        width: 140%
    }
    .card {
        width: 120px;
        height: 200px
    }
    .card-info .new-card {
        font-size: 10px
    }
    .card-info .card-a {
        font-size: 10px
    }
    .block2 {
        display: none
    }
    .uvaj_text {
        width: 100%
    }
    .header .sidebar-menu ul li a {
        font-size: 16px
    }
    .nov_text3 {
        display: block;
        font-size: 10px;
        height: 14px;
        width: 60%;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        margin-top: 7px;
        border-top: 1px solid var(--font-color-blue);
        border-right: 1px solid var(--font-color-blue);
        border-left: 1px solid var(--font-color-blue);
        color: var(--font-color-blue)
    }
    #ost_para {
        position: absolute!important
    }
    #upbutton {
        z-index: 40;
    }
    .block22 {
        width: 100%
    }
    main {
        transform: 0;
    }
    .theme-button {
        z-index: 5;
        left: 50px;
        top: 10px;
        bottom: auto
    }
    .custom {
        display: none
    }
    progress {
        display: none
    }
    .nav {
        display: none
    }
    main {
        margin-top: 10px;
        width: 99%
    }
    .menu-text {
        position: fixed;
        z-index: 999999999;
        top: 8%;
        left: 10%
    }
    .custom4 {
        display: block;
        width: 100%;
        margin-bottom: 10px
    }
    .cont1 {
        display: none
    }
    .cont2 {
        display: none
    }
    .cont3 {
        width: 100%
    }
    .nov4 {
        font-size: 11px;
        display: none
    }
    .nov_text1 {
        font-size: 12px
    }
    .nov_text2 {
        font-size: 11px;
        height: 76px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .nov_text3 {
        display: block;
        font-size: 10px;
        height: 14px;
        width: 60%;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        margin-top: 7px;
        color: var(--font-color-blue)
    }
    .block2 img {
        width: 90%
    }
    .quick-menu-m a {
        position: fixed;
        padding: 10px;
        left: 25%;
        top: 1%;
        margin: auto 0;
        padding: 7px 16px 7px 16px;
        font-size: 12px;
        border-radius: 2px;
        z-index: 999999;
        transition: .2s;
        display: block
    }
    .quick-menu-m a:hover {
        outline: 0;
        transition: .2s
    }
    .dialog3 {
        width: 100%
    }
    .dialog4 {
        width: 100%
    }
    .dialog {
        width: 100%;
        height: 100%
    }
    .modalbg:target .dialog {
        top: 0
    }
    .modalbg .dialog {
        top: 0
    }
    .dialog5 {
        width: 100%;
        height: 100%
    }
    .demo-1 {
        display: none
    }
    #obch {
        display: none
    }
    .nov1 {
        margin-left: -70px
    }
    .nov2 {
        display: none
    }
    .nov3 {
        width: 97%;
        padding: 10px
    }
    .nov4 {
        width: 20%
    }
    .card-bg {
        width: 140%
    }
    .sign-in_h1 {
        margin-top: 40px;
        font-size: 20px
    }
    .main-event-text-h {
        font-size: 16px
    }
    .slider_text {
        font-size: 2.5vw
    }
    .box9 input {
        font-size: 15px
    }
    .modlgn-remember_osn label {
        font-size: 13px
    }
    .main-event-text-info {
        font-size: 15px
    }
    .jlslogin_osn {
        font-size: 13px
    }
    .social_text {
        font-size: 13px
    }
    .zag {
        font-size: 20px
    }
    .p1 {
        font-size: 13px
    }
    header {
        display: none;
    }
    .vich {
        font-size: 15px
    }
	.version a,
	section {
		padding: 14px;
	}
	.visitor .img {
		display: none;
	}
	.visitor span:nth-child(1) {
		text-align: center;
	}
	.visitor .info {
		padding: 16px;
		border: 1px solid var(--border-block-a);
		border-radius: 6px;
	}
	.news-block .text span {
		font-size: 14px;
	}
	.slick-prev {
		left: 27%!important;
	}
	.slick-next {
		right: 27%!important;
	}
	.news-main {
		margin-top: 20px;
	}
	.fast-main {
		margin-top: 16px;
	}
	#end {
		display: none;
	}
	.footer {
		padding: 36px 0;
	}
	footer .info_social_btn {
		font-size: 14px;
	}
	footer .logo_footer {
		display: none;
	}
	footer .corpus_footer {
		width: 48%;
	}
	footer h1 {
		font-weight: bold;
	}
	.item-body {
		font-size: 14px;
	}
	.item-footer {
		display: none;
	}
	.dop-info {
		margin-top: 40px;
	}
	.btn_allnews {
		font-size: 14px;
	}
	.nav__content .auth,
	.nav__list {
		padding: 0 50px;
	}
	.nav__content .auth .auth-main {
		width: 100%;
	}
	.news-all .news-block {
		width: 360px;
		margin-bottom: 16px;
	}
	.news-all .news-block .img {
		height: 218px;
	}
	.news-all .news-block {
		margin-right: 0;
		margin-left: 0;
	}
	.navigation .ed_resource-main .ed_resource-block {
		margin: 0 0 16px 0;
		width: 380px;
	}
	.navigation .ed_resource-main .ed_resource-block .img {
		height: 254px;
	}
}

@media screen and (max-width:476px) {
	.fast-main {
		grid-template-rows: repeat(5, 110px);
		grid-template-columns: repeat(4, 80px);
	}
}

@media screen and (max-width:420px) {
	.news-all .news-block {
		width: 310px;
	}
	.news-all .news-block .img {
		height: 188px;
	}
	.navigation .ed_resource-main .ed_resource-block {
		width: 330px;
	}
	.navigation .ed_resource-main .ed_resource-block .img {
		height: 224px;
	}
}

@media screen and (max-width:400px) {
	.header-m {
		position: relative;
		padding: 20px 10px;
		overflow: hidden;
	}
	.header-m img {
		position: absolute;
		margin-right: 0;
		right: 0;
		height: 100px;
		z-index: -5;
		opacity: .2;
	}
	.ed_resource-main .ed_resource-block {
		width: 230px;
	}
	.ed_resource-main .ed_resource-block .img {
		height: 138px;
	}
}

@media screen and (max-width:375px) {
    .header .sidebar-menu ul li a {
        font-size: 15px
    }
    .sidebar-menu ul {
        padding-left: 20px
    }
    .window .header ul.m-menu li.menu-item a {
        font-size: 17px
    }
    .block2 img {
        width: 100%
    }
    .learn-more .button-text {
        font-size: 13px
    }
    .iconblock-5 {
        width: 290px
    }
    .nov1 {
        margin-left: -70px
    }
    .nov_text2 {
        font-size: 10px;
        height: 83px;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 7;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .nov_text3 {
        display: block;
        font-size: 10px;
        height: 14px;
        width: 60%;
        margin: 0 auto;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 700;
        margin-top: 7px
    }
    .nov3 {
        height: 160px;
        width: 97%
    }
    .nov4 {
        height: 151px;
        display: none
    }
    .nov_text1 {
        font-size: 11px
    }
    .item-body {
        font-size: 13px
    }
    .mesto {
        font-size: 20px
    }
    .mesto1 {
        font-size: 12px
    }
    .dop-info {
        width: 100%
    }
    #vk_poll iframe {
        width: 300px!important;
        float: left
    }
    .main-event-img {
        width: 100%
    }
    .main-event-img img {
        width: 50%
    }
    .main-event-text-general {
        width: 100%
    }
    .sign-in_h1 {
        font-size: 15px
    }
    .main-event-text-h {
        font-size: 13px
    }
    .main-event-text-info {
        font-size: 12px
    }
    .box95 input {
        padding: 15px
    }
    .p1 {
        font-size: 12px
    }
	.btnWidthAll {
		margin-top: 23%;
	}
	.slick-dots {
		bottom: -90px!important;
	}
	.slick-dots {
		display: none!important;
	}
	.slick-prev {
		left: 22%!important;
	}
	.slick-next {
		right: 22%!important;
	}
	.version img {
		display: none;
	}
	.navigation .ed_resource-main .ed_resource-block {
		width: 280px;
	}
	.navigation .ed_resource-main .ed_resource-block .img {
		height: 190px;
	}
}

@media screen and (max-width:355px) {
	.fast-main {
		grid-template-rows: repeat(5, 150px);
		grid-template-columns: repeat(4, 63px);
	}
	.fast-block {
		margin: 0;
		margin-bottom: 10px;
	}
	.news-all .news-block {
		width: 270px;
	}
	.news-all .news-block .img {
		height: 158px;
	}
}

@media screen and (max-width:325px) {
	.ed_resource-main .ed_resource-block {
		width: 210px;
	}
	.ed_resource-main .ed_resource-block .img {
		height: 125px;
	}
	.news-all .news-block {
		width: 240px;
	}
	.news-all .news-block .img {
		height: 142px;
	}
	.navigation .ed_resource-main .ed_resource-block {
		width: 240px;
	}
	.navigation .ed_resource-main .ed_resource-block .img {
		height: 160px;
	}
}