.slider:before {
    background-color: #ffffff;
    bottom: 5px;
    content: "";
    width: 30px;
    height: 30px;
    left: 7px;
    position: absolute;
    transition: .4s;
    background-size: 70%;
    background-position: center;
}
